anonymous_enable={{ anonymous_enable }}
anon_upload_enable={{ anon_upload_enable }}
anon_mkdir_write_enable=YES
local_enable={{ local_enable }}
write_enable={{ write_enable }}
dirmessage_enable=YES
xferlog_enable=YES
connect_from_port_20=YES
pam_service_name=vsftpd
user_list_enable=YES